Flask==2.0.3
gunicorn==20.0.4
python-telegram-bot
psutil==5.9.2
APScheduler==3.9.1
telegram==0.0.1
requests==2.27.1
pandas==1.1.5
numpy==1.19.5
matplotlib==3.3.4
pytz==2022.2.1
selenium==4.0.0a7
click==8.0
itsdangerous
Jinja2==3.0
MarkupSafe==2.0.1
Werkzeug==2.0.3
