<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">
	
	<title>Initio - Free, multipurpose html5 template by GetTemplate</title>

	<link rel="shortcut icon" href="static/images/gt_favicon.png">

</head>
<body class="home">

<header id="header" style="background-color: white;text-align:center">
	<div id="head" class="parallax" parallax-speed="2">
		<h1 id="logo" class="text-center">
			<img src="/static/images/channelQRCODE.png" width="300" height="400" alt="screenshot3">
		</h1>
		<p><a href={{ url_for('hello_world') }}>Check homepage!</a></p>
		<p><a href={{ url_for('sent_manually',env='master') }}>Check out all tickers!</a></p>
		<p><a href={{ url_for('sent_manually',env='slave') }}>Check out certain tickers!</a></p>
		<p><a href={{ url_for('show_log') }}>Check out logs!</a></p>
		<p><a href={{ url_for('initialize_state_of_num_and_ticker_pairs_in_redis') }}>Reset redis!</a></p>
		<p><a href={{ url_for('redis_connection_test') }}>Test redis connection!</a></p>
	</div>
	<div>
		<sapn class="title">system_datetime：{{system_datetime}}</p>
		<span class="tagline">taipei_datetime：{{taipei_datetime}}</p>
	</div>
</header>

</body>
</html>
